* {
    padding: 0;
    outline: 0;
    margin:0;
}

header{
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background: rgb(0, 54, 49);
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: #000;
    font-family: oswald;
  }
  .logo{
    color:rgb(208, 255, 0);
    height: 50px;
    font-size: 36px;
    line-height:60px;
   margin-left: 0;
    text-align: left; 
    float:left;
    font-weight: 700;
    text-decoration: none;
  }
  nav{
    float:right;
  }
  .clearfix{
    clear:both;
  }
  nav ul{
    margin: 0;
    padding: 0;
    display: flex;
  }
  nav ul li{
    list-style: none;
  }
  nav ul li a{
    font-size: 20px;
    font-weight: 700;
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color:rgb(208, 255, 0);
  }
  nav ul li a.active,
  nav ul li a:hover{
    background:#8fa6ac;
    color:#F5EACF;
    transition:0.5s
  }
  
  @media (max-width:768px){
    .menu{
      display:block;
      width:45px;
      height:45px;
      margin: 10px;
      background: transparent;
      float: right;
      cursor: pointer;
      text-align: center;
      font-size: 30px;
      color:#000000
    }
    .menu:before{
      content:'\f0c9';
      font-family: fontAwesome;
      line-height: 40px;
    }
    .menu.active:before{
      content:'\f00d';
    }
    nav{
      display: none;
    }
    nav.active{
      display: block;
      width:100%;
    }
    nav.active ul{
      display:block;
    }
    nav.active ul li{
      margin:0;
    }

    
  }
  
    .text-box-title {
        color:rgb(208, 255, 0);
        text-align: center;
        align-self: center;
        font-size: 55px;
        font-weight: 600;
        font-family: Oswald;
        margin: 10px;
    }
    
    .text-box {
        color:rgb(184, 220, 66);
        text-align: center;
        align-self: center;
        font-size: 30px;
        font-weight: 10px;
        font-family: Oswald;
        margin: 25px;
    }
    
    .footer-item {
        height: 120px;
        justify-content: space-between;
        display: flex;
        width: 100%;
        margin: 0;
        background-image: linear-gradient( to bottom right, rgb(0, 92, 83), rgb(22, 136, 124) );
        border: 3px solid rgb(0, 0, 0);
        text-align: center;
        align-self: center;
    
    }
    
    .footer {
        color:rgb(159, 193, 49);
        text-align: center;
        margin-left: 125px;
        align-self: center;
        font-size: 30px;
        font-weight: 1000;
        font-family: Oswald;
    }

    .responsive {
        width: 35%;
        height: 350px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
    }
    .container2 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin: 50px;
        border: 2px solid rgb(208, 255, 0);
        background: rgb(0, 54, 49);
    }

    .containerfinal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 50px;
        border: 2px solid rgb(208, 255, 0);
        background: rgb(0, 54, 49);
    }

    body {
        background-image: url("junglebackground.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
      }

      .lfooter{
        
        color: #9FC131;
        background-color: #042940;
        text-align: center;
        font-size: larger;
        font-family: 'Halant', serif;
        font-size: medium;
    }

    .lfooter h2{
        font-family: 'Oswald', sans-serif;
        font-size: large;
    }

    .flabel{
        margin-top: 2%;
        display: flex;
        color: #9FC131;
        flex-direction: column;
        text-align: left;
        font-family: 'Oswald', sans-serif;
        font-size: large;

    }

    input,
textarea {
   
        color:#EEFF00;
        background-color: #005C53;
        font-family: 'Halant', serif;
        
    }

    .button{
        color: #EEFF00;
        border: #9FC131 solid 3px;
        border-radius: 5px;
        border-width: 6px;
        background-color: #9FC131;
        margin-top: 3%;
        margin-bottom: 3%;
        
        
    }
    .button:hover{
        cursor: pointer;
        font-size: 1.2em;
        transition: all .6s;

    }

    .hvr-grow {
      
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;
    }
    .hvr-grow:hover,
    .hvr-grow:focus,
    .hvr-grow:active {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    } 

.hvr-color {
  -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;
}

.hvr-color:hover,
.hvr-color:focus,
.hvr-color:active {
  background-color: #9FC131;
  transition: 0,7s;
}

@media screen and (max-width: 320px) {

body {
  
    background-color:rgb(0, 54, 49);
    background-image: none;
}

.header-item {
    height: 75px;
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin-bottom: 12px;
    background-image: linear-gradient( to bottom right, rgb(0, 92, 83), rgb(22, 136, 124) );
    border: 3px solid rgb(0, 0, 0);
    text-align: center;
    align-self: center;

}

.header {
    color:rgb(159, 193, 49);
    text-align: center;
    margin: 0;
    align-self: center;
    font-size: 20px;
    font-weight: 550;
    font-family: Oswald;
}

.text-box-title {
    color:rgb(184, 220, 66);
    text-align: center;
    align-self: center;
    font-size: 17px;
    font-weight: 600;
    font-family: Oswald;
}

.text-box {
    color:rgb(184, 220, 66);
    text-align: center;
    align-self: center;
    font-size: 15px;
    font-weight: 500;
    font-family: Oswald;
    margin: 0;
}

.footer-item {
    height: 75px;
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin: 0;
    background-image: linear-gradient( to bottom right, rgb(0, 92, 83), rgb(22, 136, 124) );
    border: 3px solid rgb(0, 0, 0);
    text-align: center;
    align-self: center;

}

.footer {
    color:rgb(159, 193, 49);
    text-align: center;
    margin-left: 125px;
    align-self: center;
    font-size: 30px;
    font-weight: 1000;
    font-family: Georgia;
}

.responsive {
    width: 100%;
    height: 200px;
}

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2px;
    border: 0px;
    background: rgb(0, 54, 49);
}

.containerfinal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2px;
    border: 0px;
    background: rgb(0, 54, 49);
}
}

